# Mac folders
.DS_Store

# documentation build
docs/_build
docs/examples

# python cache
__pycache__

# jupyter notebooks
.ipynb_checkpoints

# pytest
.pytest_cache

# byte code
*.pyc

# logs
*.log

# swap files
*.swp

# data
*.data
*.obj
*.npy
*.npz
*.pkl
*.gz

# documentation
*.html

# VS Code
.vscode
tempCodeRunnerFile.py

# pip
*.egg-info
build/*
dist/*

# coverage reports
htmlcov/*
.coverage

